
.template-user-item{
    list-style-type: none;
    color: rgb(3, 3, 3);
}
.template-post-item{
  list-style-type: none;
}

.template-user-item:hover{
  transform: scale(1.1);
  transition: 1s all;
 }

 .template-post-item:hover{
  transform: scale(1.1);
  transition: 1s all;
 }
.link{
    text-decoration: none;
}
.js-first-list, .js-second-list, .js-third-list{
    height: 720px;
    overflow: scroll;
    overflow-x: hidden;
    
}

.js-first-list, .title0{
  background-color: rgb(250, 250, 240);  
}
.js-second-list, .title1{
    background-color: rgb(250, 245, 200);  
  }
  .js-third-list, .title2{
    background-color: rgb(250, 250, 180);  
  }
  
  .img{
    margin-top: 15px;
    object-fit: contain;
  }
  .com-link{
    text-decoration: none;
  }
  